.editable .display-value {
	display: block;
}
.editable .editable-form {
	display: none;
}
.editable.is-editing .display-value {
	/*display: none;*/
}
.editable.is-editing .editable-form {
	display: block;
}
