<section>
	<ul class="list">
		<li
			ng-repeat="person in model.people"
			ng-click="togglePerson(person)"
		>
			<div class="overflowhidden person-info">
				<h3 class="left">{{ person.name }}</h3>
				<h3 class="right">{{ person.total|currency }}</h3>
			</div>
			<ul class="receipt"
				ng-show="selectedPerson == person"
			>
				<li class="item"
					ng-repeat="item in person.items"
				>
					<span class="left name">
						{{ item.name }}
					</span>	
					<span class="right price">
						{{ item.amount|currency }}
					</span>	
				</li>
				<li class="subtotal-item">
					<span class="left name">
						subtotal:
					</span>
					<span class="right price">
						{{ person.subtotal|currency }}
					</span>
				</li>
				<li
					class="subtotal-item"
					ng-repeat="grat in person.subtotalGratuities"
				>
					<span class="left name">
						{{ grat.name }} ({{ grat.percent }}%):
					</span>
					<span class="right price">
						{{ grat.amount|currency }}
					</span>
				</li>
				<li class="total">
					<span class="left name">
						total:
					</span>
					<span class="right price">
						{{ person.total|currency }}
					</span>
				</li>
			</ul>
		</li>
		<li class="total"
			ng-click="togglePerson('total')"
		>
			<div class="overflowhidden person-info">
				<h3 class="left">Total:</h3>
				<h3 class="right">
					{{ model.total|currency}}
				</h3>
			</div>
			<ul class="receipt"
				ng-show="selectedPerson == 'total'">
				<li class="subtotal-item">
					<span class="left name">
						subtotal:
					</span>
					<span class="right price">
						{{ model.subtotal|currency }}
					</span>
				</li>
				<li
					class="subtotal-item"
					ng-repeat="grat in model.subtotalGratuities"
				>
					<span class="left name">
						{{ grat.name }} ({{ grat.percent }}%):
					</span>
					<span class="right price">
						{{ grat.amount|currency }}
					</span>
				</li>
			</ul>
		</li>
	</ul>
	<form class="element add-gratuity-form" ng-submit="addSubtotalGratuity()">
		<label for="">Add Gratuity</label>
		<input hidenav="true" name="name" class="left" type="text" ng-model="newSubtotal.name" required="required" placeholder="name (eg: tip)" />
		<input hidenav="true" name="percent" class="right" type="number" ng-model="newSubtotal.percent" step=".01" min=".01" pattern="^\d+(\.|\,)\d{2}$" placeholder="percent (eg: 8.75)" />
		<button type="submit" class="hidden-element"></button>
	</form>
	<ul class="list">
		<li
			ng-repeat="grat in model.subtotalGratuities"
			swiperight="swiperight"
		>
			<div ng-show="editingGrat == grat">
				<form class="add-gratuity-form" ng-submit="submitEdit()">
					<div class="overflowhidden">
						<input hidenav="true" name="name" class="left" type="text" ng-model="updatedGrat.name" required="required" />
						<input hidenav="true" name="percent" class="right" type="number" ng-model="updatedGrat.percent" step=".01" min=".01" pattern="^\d+(\.|\,)\d{2}$" />
					</div>
					<button type="submit"
						class="button full-width-button">
						Save
					</button>
				</form>
			</div>
			<div ng-show="editingGrat != grat">
				<h3 class="left">{{ grat.name }}</h3>
				<h3 class="right">{{ grat.percent }}%</h3>
			</div>
			<div class="right-button-container show-on-swiperight">
				<button type="button" class="button alert person-gratuity-button" hm-tap="deleteSubtotalGratuity(grat)">Delete</button>
				<button type="button" class="button" ng-click="editGratuity(grat)">Edit</button>
			</div>
		</li>
	</ul>
</section>
